@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --color-primary-50: #F9E8E8;
    --color-primary-100: #F4D1D1;
    --color-primary-500: #C01818;
    --color-primary-700: #9A1313;
    --color-primary-900: #4D0A0A;
    --color-secondary-50: #FFFDF0;
    --color-secondary-100: #FFF8D1;
    --color-secondary-500: #FFC400;
    --color-secondary-700: #CC9D00;
    --color-secondary-900: #7A5E00;
    --color-gray-10: #f5f5f5;
    --color-gray-50: #E0E0E0;
    --color-gray-100: #BDBDBD;
    --color-gray-500: #828282;
    --color-gray-700: #4F4F4F;
    --color-gray-900: #333333;
    --color-blue-50: #F0F5FF;
    --color-blue-100: #D6E4FF;
    --color-blue-500: #2F80ED;
    --color-blue-700: #1C54B2;
    --color-blue-900: #0E2A5C;
    --color-black: #111111;
    --color-white: #FDFDFD;
    --color-info: #2F80ED;
    --color-success: #2F80ED;
    --color-warning: #E2B93B;
    --color-error: #EB5757;
}
